@charset "utf-8";
/* ====== CSS Document ====== */

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat-regular';
  src: url('../font/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../font/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../font/montserrat-v25-latin-600.eot'); /* IE9 Compat Modes */
  src: url('../font/montserrat-v25-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/montserrat-v25-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/montserrat-v25-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../font/montserrat-v25-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/montserrat-v25-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* abril-fatface-regular - latin */
@font-face {
  font-family: 'Abril Fatface';
  src: url('../font/abril-fatface-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../font/abril-fatface-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/abril-fatface-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/abril-fatface-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/abril-fatface-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/abril-fatface-v19-latin-regular.svg#AbrilFatface') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-100 - korean_latin */
	@font-face {
		font-family: 'NotoSansKR-Thin';
		src: url('font/noto-sans-kr-v27-korean_latin-100.eot'); /* IE9 Compat Modes */
		src: url('font/noto-sans-kr-v27-korean_latin-100.eot?#iefix') format('embedded-opentype'), 
	/* IE6-IE8 */
		url('font/noto-sans-kr-v27-korean_latin-100.woff2') format('woff2'), /* Super Modern Browsers */
		url('font/noto-sans-kr-v27-korean_latin-100.woff') format('woff'), /* Modern Browsers */
		url('font/noto-sans-kr-v27-korean_latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
		url('font/noto-sans-kr-v27-korean_latin-100.svg#NotoSansKR') format('svg'); /* Legacy iOS */
		}
	/* noto-sans-kr-300 - korean_latin */
	@font-face {
		font-family: 'NotoSansKR-Light';
		src: url('font/noto-sans-kr-v27-korean_latin-300.eot'); 
		/* IE9 Compat Modes */
			src: url('font/noto-sans-kr-v27-korean_latin-300.eot?#iefix') format('embedded-opentype'), 
		/* IE6-IE8 */
			url('font/noto-sans-kr-v27-korean_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
			url('font/noto-sans-kr-v27-korean_latin-300.woff') format('woff'), /* Modern Browsers */
			url('font/noto-sans-kr-v27-korean_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
			url('font/noto-sans-kr-v27-korean_latin-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
			}
	/* noto-sans-kr-regular - korean_latin */
	@font-face {
		font-family: 'NotoSansKR-Regular';
		src: url('font/noto-sans-kr-v27-korean_latin-regular.eot'); 
		/* IE9 Compat Modes */
			src: url('font/noto-sans-kr-v27-korean_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('font/noto-sans-kr-v27-korean_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
			url('font/noto-sans-kr-v27-korean_latin-regular.woff') format('woff'), /* Modern Browsers */
			url('font/noto-sans-kr-v27-korean_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
			url('font/noto-sans-kr-v27-korean_latin-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
			}
	/* noto-sans-kr-500 - korean_latin */
	@font-face {
		font-family: 'NotoSansKR-Medium';
		src: url('font/noto-sans-kr-v27-korean_latin-500.eot'); 
		/* IE9 Compat Modes */
			src: url('font/noto-sans-kr-v27-korean_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('font/noto-sans-kr-v27-korean_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
			url('font/noto-sans-kr-v27-korean_latin-500.woff') format('woff'), /* Modern Browsers */
			url('font/noto-sans-kr-v27-korean_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
			url('font/noto-sans-kr-v27-korean_latin-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
			}
	/* noto-sans-kr-700 - korean_latin */
	@font-face {
		font-family: 'NotoSansKR-Bold';
		src: url('font/noto-sans-kr-v27-korean_latin-700.eot'); /* IE9 Compat Modes */
		src: url('font/noto-sans-kr-v27-korean_latin-700.eot?#iefix') format('embedded-opentype'), 
		/* IE6-IE8 */
			url('font/noto-sans-kr-v27-korean_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
			url('font/noto-sans-kr-v27-korean_latin-700.woff') format('woff'), /* Modern Browsers */
			url('font/noto-sans-kr-v27-korean_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
			url('font/noto-sans-kr-v27-korean_latin-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
			}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/




body { }

section { overflow: hidden; position: relative; }

.rel { position: relative; width: 100%; height: 100%; }

h1 { color: ; }


.more_s { padding: 0.4em 0.8em; border: 1px solid #411f00; border-radius: 1em; font-family: 'Montserrat-regular'; text-align: center; }
.more_s:hover { background: #411f00; color: #fff; }

.more_m { padding: 0.4em 0.8em; border: 1px solid #411f00; border-radius: 1.25em; font-family: 'Montserrat-regular'; text-align: center; margin-top: 2.5em; }
.more_m:hover { background: #411f00; color: #fff; }

.btn_pre {  border: 0px solid red; width: 4em; height: 1.8em; }
.btn_next {  border: 0px solid red; width: 4em; height: 1.8em; }
.pre_next { position: relative; }
.pre { display: inline-block; width: 3em; height: 0.75em; background: #d29b6a; clip-path: polygon(60% 0%, 64% 0%, 100% 100%, 0% 100%, 0% 90%, 93% 90%); transform: rotateY(180deg); }
.next { position: absolute; right: 0; bottom: 0.5em; display: inline-block; width: 3em; height: 0.75em; background: #d29b6a; clip-path: polygon(60% 0%, 64% 0%, 100% 100%, 0% 100%, 0% 90%, 93% 90%); }



.pagination { position: absolute; left: 0; bottom: 38px; z-index: 20px; width: 100%; text-align: center; font-size: 0; }
.pagination > button { display: inline-block; padding: 12px; }
.pagination > button > span { display: inline-block; border-radius: 99999px; background: rgba(255, 255, 255, 0.5); }
.pagination > button.active > span { background: #fff; }
.pagination > button:hover > span { background: #fff; }


/*.pagination button { padding: 0.625em 0.625em; }
.pagination button > span { display: inline-block; position: relative; left: 50%; transform: translateX(-50%); border-radius: 99999px; background: rgba(255, 255, 255, 0.5); transition: all 0.2s linear; }
.pagination button:hover > span { background: #fff; }
.pagination button.active > span { background: ; }*/


.dir_btns[class ~= "_bg_W"] > span { background: #fff; }
.dir_btns[class ~= "_bg_k"] > span { background: #000; }
.dir_btns[class ~= "_bg_01"] > span { background: #3f51b5; }

.dir_btns[class ~= "prev"] > span { clip-path: polygon(39% 0, 43% 0, 71% 50%, 43% 100%, 39% 100%, 67% 50%); transform: rotate(180deg); }
.dir_btns[class ~= "next"] > span { clip-path: polygon(39% 0, 43% 0, 71% 50%, 43% 100%, 39% 100%, 67% 50%); }
.dir_btns > span { display: inline-block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; }








/* ####### Desktop(start) ####### */
    @media screen and (min-width: 1025px) {


	.inner_wrap { position: relative; width: 100%; max-width: 1060px; border: 0px solid red; }

	.more_s { font-size: 0.875em; }
	.more_m { font-size: 1.25em; }


	.pagination button > span { width: 18px; height: 18px; }
	.pagination button:hover > span { width: 18px; height: 18px; }
	.pagination button.active > span { width: 18px; height: 18px; }

	.dir_btns[class ~= "_L"] > span { width: 60px; height: 60px; }
	.dir_btns[class ~= "_M"] > span { width: 40px; height: 40px; }
	.dir_btns[class ~= "_S"] > span { width: 20px; height: 20px; }


	h2.section_title_01 { display: inline-block; position: relative; width: 100%; margin: 1.5em auto; font-size: 3em; font-family: 'Montserrat-SemiBold', sans-serif; text-align: center; color: #411f00; }
	h2.section_title_01::before { content: ""; display: block; position: absolute; margin: auto; width: 0.625em; height: 0.0375em; background: #411f00; }
	h2.member::before { left: 10.8em; top: 1.8em; }
	h2.review::before { left: 10.8em; top: 1.8em; }

	h2.section_title_02 { display: inline-block; position: relative; left: 0; width: 100%; font-size: 3em; font-family: 'Montserrat-SemiBold', sans-serif; color: #411f00; }
	h2.section_title_02::before { content: ""; display: block; position: absolute; left: 0; top: 75px; width: 1.25em; height: 0.0375em; background: #411f00; }
	p.section_03_main_desc { position: relative; top: 40px; font-size: 1.125em; font-family: 'NotoSansKR-Regular'; margin-bottom: 60px; }


	h2.section_title_02 { display: inline-block; position: relative; width: 100%; font-size: 3em; font-family: 'Montserrat-SemiBold', sans-serif; color: #411f00; text-align: left; }
	h2.section_title_02::before { content: ""; display: block; position: absolute; top: 1.5em; width: 1.25em; height: 0.0375em; background: #411f00; }
	p.section_title_02_desc { position: absolute; margin-top: 1.5em; font-size: 1.125em; font-family: 'NotoSansKR-Regular'; }

	
	/* header(start) */

	header { overflow: hidden; position: fixed; z-index: 100; width: 100%; height: 85px; background: rgba(255, 255, 255, 0.8); }
	header::before { content: ""; display: block; width: 100%; height: 85px; position: absolute; left: 0; top: 0; background: rgba(255, 255, 255); }

	header:hover { display: inline-block; height: 240px; transition: height 0.3s;  }
	header div.inner_wrap { margin: 0 auto; }


	header h1 { position: absolute; left: -1em; top: 0.5em; z-index: 110; width: 180px; height: 64px; }
	header h1 a { display: block; width: 100%; height: 100%; background: url("../images/Logo_01.png") no-repeat center; background-size: cover; }

	header nav { position: relative; left: 0.25em; width: 100%; padding-top: 2.1875em; font-family: 'Montserrat-regular'; }
	

	header nav > ul { float: right; position: relative; height: 40px; }
	header nav > ul > li { float: left; text-align: center; }
	header nav > ul > li:hover > button { font-family: 'Montserrat-SemiBold'; }
	header nav > ul > li + li { margin-left: 60px; }
	header nav > ul > li > a { display: block; width: 100%; height: 100%; line-height: 40px; font-weight: 400;  }

	nav ul.sub { margin-top: 30px; }
	nav ul.sub > li { width: 100%; height: 40px; }
	nav ul.sub > li > button { display: block; line-height: 40px; color: #777; font-size: 0.875em; }
	nav ul.sub > li > a:hover { color: #000; border-bottom: 1px solid #000; }

	/* header(end) */
	


	/* footer(start)*/

	footer { width: 100%; height: 185px; background: #411f00; }
	footer div.inner_wrap { display: block; border: 0px solid blue; margin: 0 auto; text-align: center; }

	footer ul.footer_wrap { width: 100%; }
	footer ul.footer_wrap > li { float: left; width: calc(100% / 3); margin-top: 2em; }

	footer ul li ul.info_wrap { margin-top: 3em; }
	footer ul li ul.info_wrap li { display: inline-block; position: relative; font-size: 0.875em; white-space: nowrap; }
	footer ul li ul.info_wrap li::before { content: ""; display: inline-block; position: absolute; right: -20px; bottom: 3px; width: 1px; height: 0.875em; background: #fff3e3; }
	footer ul li ul.info_wrap li:last-child::before { display: none; }
	footer ul li ul.info_wrap li + li { margin-left: 33px; }
	footer ul li ul.info_wrap li > a {  color: #fff3e3; }
	footer ul li ul.info_wrap li:hover > a { color: rgba(255, 243, 227, 0.7); }

	footer ul.footer_wrap li div.logo { position: absolute; top: 2.3125em;  width: 12.75em; height: 6.625em; }

	footer ul.footer_wrap li p.footer { clear: both; display: inline-block; margin-top: 3.5em; font-size: 0.875em; white-space: nowrap; color: #fff3e3; }
	
	
	/*footer ul { float: left; position: absolute; left: 0; top: 5.3125em; }
	footer ul li { display: inline-block; position: relative; font-size: 0.875em; white-space: nowrap; }
	footer ul li + li { margin-left: 33px; }
	footer ul li + li::before { content: ""; display: inline-block; position: absolute; left: -20px; bottom: 3px; width: 1px; height: 0.875em; background: #fff3e3; }
	footer ul li > a {  color: #fff3e3; }
	footer ul li:hover > a { color: rgba(255, 243, 227, 0.7);}

	footer div.logo { float: left; position: absolute; top: 2.3125em; margin-left: 30em;  width: 12.75em; height: 6.625em; text-align: center; }
	footer div.logo a { display: inline-block; width: 100%; height: 100%; background: url("../images/Logo_02.png") no-repeat center; background-size: cover; text-align: center; }

	footer p.footer { clear: both; position: absolute; right: 0; top: 6em; display: inline-block; font-size: 0.875em; color: #fff3e3; }*/

	 

	/* footer(end)*/



}
/* ####### Desktop(end) ####### */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!s!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!##########################!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

/* ####### Tablet(start) ####### */
	@media screen and (min-width: 768px) and (max-width: 1024px) {
    

	.inner_wrap { position: relative; }

	.more_s { font-size: 0.875em; }
	.more_m { font-size: 1.25em; }


	.pagination button > span { width: 18px; height: 18px; }
	.pagination button:hover > span { width: 18px; height: 18px; }
	.pagination button.active > span { width: 18px; height: 18px; }

	.dir_btns[class ~= "_L"] > span { width: 60px; height: 60px; }
	.dir_btns[class ~= "_M"] > span { width: 40px; height: 40px; }
	.dir_btns[class ~= "_S"] > span { width: 20px; height: 20px; }


	h2.section_title_01 { display: inline-block; position: relative; width: 100%; margin: 1.5em auto; font-size: 3em; font-family: 'Montserrat-SemiBold', sans-serif; text-align: center; color: #411f00; }
	h2.section_title_01::before { content: ""; display: block; position: absolute; margin: auto; width: 0.625em; height: 0.0375em; background: #411f00; }
	h2.member::before { left: 45vw; top: 1.8em; }
	h2.review::before { left: 44.8vw; top: 1.8em; }

	h2.section_title_02 { display: inline-block; position: relative; left: 0; width: 100%; font-size: 3em; font-family: 'Montserrat-SemiBold', sans-serif; color: #411f00; }
	h2.section_title_02::before { content: ""; display: block; position: absolute; left: 0; top: 75px; width: 1.25em; height: 0.0375em; background: #411f00; }
	p.section_03_main_desc { position: relative; top: 40px; font-size: 1.125em; font-family: 'NotoSansKR-Regular'; margin-bottom: 60px; }


	h2.section_title_02 { display: inline-block; position: relative; width: 100%; font-size: 3em; font-family: 'Montserrat-SemiBold', sans-serif; color: #411f00; text-align: left; }
	h2.section_title_02::before { content: ""; display: block; position: absolute; top: 1.5em; width: 1.25em; height: 0.0375em; background: #411f00; }
	p.section_title_02_desc { position: absolute; margin-top: 1.5em; font-size: 1.125em; font-family: 'NotoSansKR-Regular'; }

	

	
	/* header(T_start) */

	header { overflow: hidden; position: fixed; left: 0; top: 0; z-index: 100; width: 100%; height: 90px; padding: 0 2.60416vw; background: rgba(255, 255, 255, 0.9); box-shadow: 0 10px 20px #eee; }
	header::before { content: ""; display: none; position: fixed; left: 0; top: 0; z-index: 101; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5); }
	header.on::before { display: block; }

	header h1 { float: left; height: 90px; }
	header h1 > a { display: inline-block; height: 100%; font-size: 1.5em; line-height: 90px; }

	header nav { display: block; position: fixed; left: 100%; top: 0; z-index: 105; width: 70vw; height: 100vh; padding: 100px 3.906vw 2.60416vw; background: #fff; transform: translateX(0%); transition: transform 0.2s; }
	header.on nav { transform: translateX(-100%); }

	header nav > ul { overflow-y: scroll; height: 100%; }
	header nav > ul > li > button { display: block; position: relative; width: 100%; height: 3em; color: #743d19; font-size: 1.5em; line-height: 3; }
	header nav > ul > li > button::after { content: ""; display: block; position: absolute; right: 15px; top: 50%; transform: translate(50%, -50%); width: 1.875‬em; height: 0.625‬em; /*background: #3f51b5; clip-path: polygon(50% 100%, 0 0, 100% 0);*/ transition: transform 0.3s;  
    border-top: 1px solid #000; /* 선 두께 */
    border-right: 1px solid #000; /* 선 두께 */
    transform: rotate(225deg);  각도 }

	header nav > ul > li.active > button::after { transform: translate(50%, -50%) rotate(180deg); }
	
	header ul.sub { overflow: hidden; position: relative; z-index: 3; height: 0; transition: height 0.2s; }
    header ul.sub::after { content: ""; display: inline-block; z-index: 1; position: absolute; left: -29px; top: 0; width: 72.60416vw; height: 120px; background: #fff3e3; }

	header nav > ul > li:nth-child(1)[class ~= "active"] > ul.sub { height: 7.5em; }
	header nav > ul > li:nth-child(2)[class ~= "active"] > ul.sub { height: 10em; }
	header nav > ul > li:nth-child(3)[class ~= "active"] > ul.sub { height: 5em; }
	header nav > ul > li:nth-child(4)[class ~= "active"] > ul.sub { height: 7.5em; }
	header nav > ul > li:nth-child(5)[class ~= "active"] > ul.sub { height: 2.5em; }

	header ul.sub > li > a { display: block; width: 100%; height: 2.5em; padding-left: 2em; color: rgba(116, 61, 25, 0.5); font-size: 1; line-height: 2.5; }
    header ul.sub > li > a:hover { color: #743d19; }

	header button.btn_menu { display: block; position: fixed; right: 3.90625vw; top: 30px; z-index: 110; width: 32px; height: 38px; }
    header button.btn_menu span { display: block; width: 100%; height: 2px; color: #743d19; }
    header button.btn_menu span:nth-of-type(1) { position: fixed; top: 26px; right: 3.90625vw; }
    header button.btn_menu span:nth-of-type(2) { position: fixed; top: 34px; }
    header button.btn_menu span:nth-of-type(3) { position: fixed; top: 42px; }

	header.on button.btn_menu {  }

	/* header(T_end) */
	


	/* footer(T_start)*/

	footer { width: 100%; height: 17em; background: #411f00; }
	footer div.inner_wrap { display: block; border: 0px solid blue; margin: 0 auto; text-align: center; }

	footer ul.footer_wrap { width: 100%; }
	footer ul.footer_wrap > li { }

	footer ul li ul.info_wrap { position: relative; top: 10em; }
	footer ul li ul.info_wrap li { display: inline-block; position: relative; font-size: 0.875em; white-space: nowrap; }
	footer ul li ul.info_wrap li::before { content: ""; display: inline-block; position: absolute; right: -20px; bottom: 3px; width: 1px; height: 0.875em; background: #fff3e3; }
	footer ul li ul.info_wrap li:last-child::before { display: none; }
	footer ul li ul.info_wrap li + li { margin-left: 33px; }
	footer ul li ul.info_wrap li > a {  color: #fff3e3; }
	footer ul li ul.info_wrap li:hover > a { color: rgba(255, 243, 227, 0.7); }

	footer ul.footer_wrap li div.logo {  width: 12.75em; height: 6.625em; }

	footer ul.footer_wrap li p.footer { clear: both; display: inline-block; margin-top: 3.5em; font-size: 0.875em; white-space: nowrap; color: #fff3e3; }

	/* footer(T_end)*/




}
/* ####### Tablet(end) ####### */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!####!!!!!!!!!!!!####!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!##!!!!!!!!!!##!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!##!!!!!!!!##!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!##!!!!!!##!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!##!!!!##!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!##!##!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!##!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/


/* ####### Mobile(start) ####### */
	@media screen and (max-width: 767px) {


	.inner_wrap { position: relative; }

	.more_s { font-size: 0.875em; }
	.more_m { font-size: 1.25em; }


	.pagination button > span { width: 18px; height: 18px; }
	.pagination button:hover > span { width: 18px; height: 18px; }
	.pagination button.active > span { width: 18px; height: 18px; }

	.dir_btns[class ~= "_L"] > span { width: 60px; height: 60px; }
	.dir_btns[class ~= "_M"] > span { width: 40px; height: 40px; }
	.dir_btns[class ~= "_S"] > span { width: 20px; height: 20px; }


	h2.section_title_01 { display: inline-block; position: relative; width: 100%; margin: 1.5em auto; font-size: 1.5em; font-family: 'Montserrat-SemiBold', sans-serif; text-align: center; color: #411f00; }
	h2.section_title_01::before { content: ""; display: block; position: absolute; margin: auto; width: 1.25em; height: 0.0375em; background: #411f00; }
	h2.review::before { left: 42vw; top: 1.8em; }
	h2.member::before { left: 40vw; top: 2em; }

	h2.section_title_02 { display: inline-block; position: relative; left: 0; width: 100%; font-size: 1.5em; font-family: 'Montserrat-SemiBold', sans-serif; color: #411f00; }
	h2.section_title_02::before { content: ""; display: block; position: absolute; left: 0; top: 75px; width: 1.25em; height: 0.0375em; background: #411f00; }
	p.section_03_main_desc { position: relative; top: 40px; font-size: 1.125em; font-family: 'NotoSansKR-Regular'; margin-bottom: 60px; }


	h2.section_title_02 { display: inline-block; position: relative; width: 100%; font-size: 1.5em; font-family: 'Montserrat-SemiBold', sans-serif; color: #411f00; text-align: left; }
	h2.section_title_02::before { content: ""; display: block; position: absolute; top: 1.5em; width: 1.25em; height: 0.0375em; background: #411f00; }
	p.section_title_02_desc { position: absolute; margin-top: 1.5em; font-size: 1.125em; font-family: 'NotoSansKR-Regular'; }


	/* header(M_start) */

	header { overflow: hidden; position: fixed; left: 0; top: 0; z-index: 100; width: 100%; height: 90px; padding: 0 2.60416vw; background: rgba(255, 255, 255, 0.9); box-shadow: 0 10px 20px #eee; }
	header::before { content: ""; display: none; position: fixed; left: 0; top: 0; z-index: 101; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5); }
	header.on::before { display: block; }

	header h1 { float: left; height: 90px; }
	header h1 > a { display: inline-block; height: 100%; font-size: 1.5em; line-height: 90px; }

	header nav { display: block; position: fixed; left: 100%; top: 0; z-index: 105; width: 70vw; height: 100vh; padding: 100px 3.906vw 2.60416vw; background: #fff; transform: translateX(0%); transition: transform 0.2s; }
	header.on nav { transform: translateX(-100%); }

	header nav > ul { overflow-y: scroll; height: 100%; }
	header nav > ul > li > button { display: block; position: relative; width: 100%; height: 3em; color: #743d19; font-size: 1.5em; line-height: 3; }
	header nav > ul > li > button::after { content: ""; display: block; position: absolute; right: 15px; top: 50%; transform: translate(50%, -50%); width: 1.875‬em; height: 0.625‬em; /*background: #3f51b5; clip-path: polygon(50% 100%, 0 0, 100% 0);*/ transition: transform 0.3s;  
    border-top: 1px solid #000; /* 선 두께 */
    border-right: 1px solid #000; /* 선 두께 */
    transform: rotate(225deg);  각도 }

	header nav > ul > li.active > button::after { transform: translate(50%, -50%) rotate(180deg); }
	
	header ul.sub { overflow: hidden; position: relative; z-index: 3; height: 0; transition: height 0.2s; }
    header ul.sub::after { content: ""; display: inline-block; z-index: 1; position: absolute; left: -29px; top: 0; width: 72.60416vw; height: 120px; background: #fff3e3; }

	header nav > ul > li:nth-child(1)[class ~= "active"] > ul.sub { height: 7.5em; }
	header nav > ul > li:nth-child(2)[class ~= "active"] > ul.sub { height: 10em; }
	header nav > ul > li:nth-child(3)[class ~= "active"] > ul.sub { height: 5em; }
	header nav > ul > li:nth-child(4)[class ~= "active"] > ul.sub { height: 7.5em; }
	header nav > ul > li:nth-child(5)[class ~= "active"] > ul.sub { height: 2.5em; }

	header ul.sub > li > a { display: block; width: 100%; height: 2.5em; padding-left: 2em; color: rgba(116, 61, 25, 0.5); font-size: 1; line-height: 2.5; }
    header ul.sub > li > a:hover { color: #743d19; }

	header button.btn_menu { display: block; position: fixed; right: 3.90625vw; top: 30px; z-index: 110; width: 32px; height: 38px; }
    header button.btn_menu span { display: block; width: 100%; height: 2px; color: #743d19; }
    header button.btn_menu span:nth-of-type(1) { position: fixed; top: 26px; right: 3.90625vw; }
    header button.btn_menu span:nth-of-type(2) { position: fixed; top: 34px; }
    header button.btn_menu span:nth-of-type(3) { position: fixed; top: 42px; }

	header.on button.btn_menu {  }

	/* header(M_end) */
	


	/* footer(M_start)*/

	footer { width: 100%; height: 200px; background: #411f00; border: 0px solid red; }
	footer div.inner_wrap { margin: 0 auto; width: 100%; display: block; border: 0px solid red; text-align: center; }
	footer ul { }
	footer ul li { display: inline-block; position: relative; font-size: 0.875em; padding: 0 3.90623vw; white-space: nowrap; margin-top: 8.5em; }
	footer ul li + li { margin-left: 0.5em; }
	footer ul li + li::before { content: ""; display: inline-block; position: absolute; left: -8px; bottom: 3px; width: 1px; height: 0.875em; background: #fff3e3; }
	footer ul li > a {  color: #fff3e3; }
	footer ul li:hover > a { color: rgba(255, 243, 227, 0.7); }
	footer div.logo { margin-top: -9em; margin-left: auto; margin-right: auto; width: 15em; height: 8em; text-align: center; }
	footer div.logo a { display: inline-block; width: 100%; height: 100%; background: url("../images/Logo_02.png") no-repeat center; background-size: cover; }
	footer p.footer { display: inline-block; margin-top: 2em; font-size: 0.875em; color: #fff3e3; text-align: center; }

	/* footer(M_end)*/


}
/* ####### Mobile(end) ####### */