@charset "utf-8";
/* ====== index.css ====== 
====== ====== ====== ====== ====== 
====== ====== ====== ====== ====== ====== 
====== ====== ====== ====== ====== ====== ====== 
====== ====== ====== ====== ====== ====== ====== ====== 
====== ====== ====== ====== ====== ====== ====== 
====== ====== ====== ====== ====== ====== 
====== ====== ====== ====== ====== 
====== ====== ====== ====== */



/* ####### Desktop(start) ####### */
	@media screen and (min-width: 1025px) {

	hr { display: none; }

	/* visual(D_start) */

	section.visual { position: relative; z-index: 1; width: 100%; height: 100vh; }

	section.visual div.slides { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; transition: transform 0.3s; }
	section.visual div.slides[class ~= "prev"] { z-index: 4; transform: translateX(-100%); }
	section.visual div.slides[class ~= "cur"] { z-index: 10; transform: translateX(0%); }
	section.visual div.slides[class ~= "next"] { z-index: 5; transform: translateX(100%); }

	section.visual div.slides img { display: block; width: 100%; height: 100%; object-fit: cover; }
	section.visual div.slides div.info_wrap { position: absolute; left: 0; top: 0; }
	section.visual div.slides h3.visual_title { margin-bottom: 30px; font-family: 'Abril Fatface'; font-size: 4.6875em; font-weight: normal; color: #fff; text-shadow: 2px 2px 3px #666; line-height: 1.2; }
	section.visual div.slides h3.visual_title::after { content: ""; display: block; position: absolute; width: 0.875em; height: 0.0375em; background: #fff; }
	section.visual div.slides p.visual_subtitle { font-family: 'NotoSansKR-Bold'; font-weight: bold; font-size: 1.5em; color: #fff; }
	section.visual div.slides p.visual_desc { display: inline-block; margin-bottom: 30px; font-family: 'NotoSansKR-Medium'; font-size: 1.25em; font-weight: normal; line-height: 1.5; white-space: nowrap; color: #fff; text-shadow: 2px 2px 3px #777; }

	/* 1 */
	section.visual div.slides:nth-of-type(1) div.info_wrap { position: absolute; top: 340px; right: 150px; text-align: right; left: 60%; top: 50vh; transform: translateY(-50%); width: 30%; }
	section.visual div.slides:nth-of-type(1) h3.visual_title { position: relative; }
	section.visual div.slides:nth-of-type(1) h3.visual_title::after { content: ""; display: block; position: absolute; bottom: -15px; right: 0; width: 0.508em; height: 0.0375em; background: #fff; }
	section.visual div.slides:nth-of-type(1) p.visual_subtitle { margin-top: 36px; }
	section.visual div.slides:nth-of-type(1) p.visual_desc { position: relative; right: 0; margin-top: 10px; text-align: right; }
	/* 1 */
	

	/* 2 */
	section.visual div.slides:nth-of-type(2) div.info_wrap { left: 37%; top: 55vh; transform: translate(-50%, -50%); width: 30%; white-space: nowrap; text-align: left; }
	section.visual div.slides:nth-of-type(2) h3.visual_title { position: relative; }
	section.visual div.slides:nth-of-type(2) h3.visual_title::after { content: ""; display: block; position: absolute; top: 3.125em; left: 0; width: 0.5335em; height: 0.0375em; background: #fff; }
	section.visual div.slides:nth-of-type(2) p.visual_subtitle { margin-top: 3.75em; }
	section.visual div.slides:nth-of-type(2) p.visual_desc { position: relative; right: 0; display: inline-block; margin-top: 10px; text-align: left; }
	/* 2 */


	/* 3 */
	section.visual div.slides:nth-of-type(3) div.info_wrap { left: 70.5%; top: 55vh; transform: translate(-50%, -50%); width: 30%; text-align: left; white-space: nowrap; text-align: right; border: 0px solid red; }
	section.visual div.slides:nth-of-type(3) h3.visual_title { position: relative; }
	section.visual div.slides:nth-of-type(3) h3.visual_title::after { content: ""; display: block; position: absolute; top: 3.125em; right: 0; width: 0.5335em; height: 0.0375em; background: #fff; }
	section.visual div.slides:nth-of-type(3) p.visual_subtitle { margin-top: 3.75em; }
	section.visual div.slides:nth-of-type(3) p.visual_desc { position: relative; right: 0; display: inline-block; margin-top: 10px;  white-space: nowrap; text-align: right; }
	/* 3 */


	/* visual(D_end) */ 



	/* membership(start) */

	section.member { position: relative; width: 100%; margin: 0 auto; border: 0px solid red; text-align: center; }
	section.member div.inner_wrap { margin: 0 auto;  border: 0px solid red; }
	section.member ul { width: 100%; text-align: center;  margin: 0 auto; }
	section.member ul > li { float: left; width: calc((100% - 40px) / 3); text-align: center; }
	section.member ul > li + li { margin-left: 20px; }
	section.member ul.member_wrap div.desc_wrap { display: inline-block; vertical-align: bottom;}
	section.member ul.member_wrap div.desc_wrap > h3 { display: inline-block; font-size: 1.375em; font-family: 'Montserrat-SemiBold'; }
	section.member ul.member_wrap div.desc_wrap > p { margin: 0.625em auto; font-size: 1.125em; font-family: 'NotoSansKR-Light'; line-height: 1.5; }
	section.member ul div.img_wrap { width: 12.5em; height: 12.5em; margin: 0 auto; }
	section.member ul div.img_wrap > img { width: 100%; height: 100%; }
	section.member ul li div.desc_wrap > span { font-size: 1.125em; font-family: 'NotoSansKR-Regular'; font-weight: bold; }
	section.member button { margin-top: 2.5em; }

	/* membership(end) */



	/* dessert(start) */


	section.dessert { position: relative; width: 100%; border: 0px solid red; margin-top: 6.25em; }
	section.dessert > div.inner_wrap { border: 0px solid blue; margin: 0 auto; }


	section.dessert div.bread { margin-top: 8em; }
	section.dessert div.cake { margin-top: 8em; }
	section.dessert div.cookie { margin-top: 8em; }


	div.dessert div.thum_img_wrap { float: left; width: 30%; height: 26.625em; }
	div.dessert[class ~= "fl_R"] div.thum_img_wrap { float: right; width: 30%; height: 26.625em; }
	div.dessert div.thum_img_wrap img { width: 100%; height: 100%; background-size: cover; border-radius: 0.9375em; }

	div.dessert div.dessert_desc { float: left; border: 0px solid blue; position: relative; display: inline-block; margin-left: 20px; border: 0px solid green; }
	div.dessert[class ~= "fl_R"] div.dessert_desc { float: right; border: 0px solid blue; position: relative; display: inline-block; margin-right: 20px; text-align: right; }
	div.dessert div.dessert_desc h3.section02_sub_title { border: 0px solid green; font-size: 1.375em; }
	div.dessert div.dessert_desc p.section02_sub_desc { border: 0px solid green;  margin-top: 0.875em; font-size: 1.125em; font-family: 'NotoSansKR-Regular'; line-height: 1.5; }
	div.dessert div.dessert_desc button.dessert { margin-top: 1.875em; margin-bottom: 3.5em; }
	
	div.dessert div.slide_wrap { float: right; width: calc(70% - 10px); }
	div.dessert[class ~= "fl_R"] div.slide_wrap { float: left; width: calc(70% - 10px); }
	div.dessert div.slide_wrap div.view_mask { overflow: hidden; width: 100%; }
	div.dessert div.slide_wrap div.view_mask > ul { display: block; position: relative; width: 150%; height: 10em; }
	div.dessert div.slide_wrap div.view_mask > ul > li { overflow: hidden; float: left; width: 16.666%; height: 10em; padding: 0 10px; }

	div.dessert div.slide_wrap div.dessert_pre_next { position: relative; width: calc(100% - 20px); margin: 10px 10px 0; height: 1.9em; border: 0px solid blue; }
	div.dessert div.slide_wrap div.dessert_pre_next button.dessert_pre { position: absolute; left: 0; }
	div.dessert div.slide_wrap div.dessert_pre_next button.dessert_next { position: absolute; right: 0; }



	div.dessert ul li div.img_wrap { width: 100%; height: 100%; }
	div.dessert ul li div.img_wrap img { width: 100%; height: 100%; object-fit: cover; }

	div.dessert ul li p.dessert_title { z-index: 5; position: relative; bottom: 1.6em; left: 0.625em; font-family: 'NotoSansKR-Regular'; font-size: 1em; color: #fff; }
	div.dessert ul li p.dessert_title::before  { content: ""; z-index: -3; display: block; position: absolute; left: -0.625em; bottom: -0.28em; width: 100%; height: 2em; background: rgba(44, 17, 0, 0.8); }


	/* dessert(end) */



	/* E & N(start) */

	section.enn { border: 0px solid red; position: relative; width: 100%; margin-top: 10em; text-align: center; }
	section.enn > div.inner_wrap { margin: 0 auto; border: 0px solid blue; }

	section.enn ul { overflow: hidden; border: 0px solid blue; margin-top: 5em; width: 100%; }
	section.enn ul li { float: left; width: calc((100% - 60px) / 4); }
	section.enn ul li > div.img { width: 15.625em; height: 15.625em; }
	section.enn ul li p { text-align: left; }
	section.enn ul li > div img { width: 100%; height: 100%; background-size: cover; }
	section.enn ul li + li { margin-left: 20px; }


	section.enn p.event_title { margin-top: 0.875em; font-family: 'NotoSansKR-Medium'; font-size: 1.125em; }
	section.enn p.event_desc { margin-top: 0.125em; font-family: 'NotoSansKR-Regular'; font-size: 1em; color: #666; }

	section.enn button { clear: both; margin-top: 2em; }

	/* E & N(end) */


	/* review(start) */

	section.review { position: relative; margin: 5em auto 10em; width: 100%; }
	section.review div.inner_wrap { overflow: hidden; border: 0px solid blue; margin: 0 auto; width: 100%; }

	section.review div.view_mask { overflow: hidden; position: relative; }
	section.review ul { position: relative; width: 150%; }
	section.review ul li { position: relative; float: left; width: 16.6666%; padding: 0 10px; }
	section.review ul li .review_wrap { position: relative; padding: 0.9375em 0.75em 1.5625em; border: 1px solid #f7d3b4; border-radius: 15px; }

	section.review ul li .review_wrap > div.f_img { display: inline-block; width: 99%; text-align: center; }
	section.review ul li .review_wrap > div.f_img > img { display: inline-block; width: 100%; height: 100%; border-radius: 5px 5px 0 0; background-size: cover; text-align: center; }
	
	section.review div.review_wrap { position: relative; }
	section.review div.review_desc_wrap > div.p_img { display: inline-block; margin-top: 0.625em; width: 1.6875em; height: 1.6875em; text-align: left; }
	section.review div.review_desc_wrap > div.p_img > img { width: 100%; height: 100%; background-size: cover; border-radius: 9999px; text-align: left; text-align: left; }

	section.review ul li div.review_desc_wrap > button { border: 0px solid red; position: absolute; right: 12px; margin-top: 0.5em; display: inline-block; width: 2em; height: 2em; }
	section.review ul li div.review_desc_wrap > button:hover span.h { background: red; clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"); }
	section.review ul li div.review_desc_wrap > button span.h { position: absolute; left: 0.5em; bottom: 0.15em; display: inline-block; width: 1.5em; height: 1.5em; background: black; clip-path: path("M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"); }


	section.review ul li div.review_wrap h3 { display: inline-block; font-size: 1em; font-family: 'Montserrat-regular'; }

	section.review ul li div.review_desc_wrap p.review_desc { margin-top: 0.8em; text-align: left; font-size: 1em; font-family: 'NotoSansKR-Regular', 'Montserrat-regular'; }
	section.review ul li p.review_desc02 { margin-top: 0.2em; text-align: left; font-size: 0.875em; font-family: 'NotoSansKR-Regular', 'Montserrat-regular'; }

	section.review div.review_pre_next { position: relative; width: calc(100% - 20px); margin: 20px auto 0;  height: 1.8em; border: 0px solid black; }
	section.review div.review_pre_next button.review_pre { position: absolute; left: 0; }
	section.review div.review_pre_next button.review_next { position: absolute; right: 0; }


	/* review(end) */




}
/* ####### Desktop(end) ####### */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* ####### Tablet(start) ####### */
	@media screen and (min-width: 768px) and (max-width: 1024px) {

	
	/* visual(T_start)*/

	section.visual { position: relative; z-index: 1; width: 100%; height: 100vh; }

	section.visual div.slides { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; transition: transform 0.3s; }
	section.visual div.slides[class ~= "prev"] { opacity: 1; z-index: 4; transform: translateX(-100%); }
	section.visual div.slides[class ~= "cur"] { opacity: 1; z-index: 10; transform: translateX(0%); }
	section.visual div.slides[class ~= "next"] { opacity: 1; z-index: 5; transform: translateX(100%); }

	section.visual div.slides img { display: block; width: 100%; height: 100%; object-fit: cover; }
	section.visual div.slides div.info_wrap { position: absolute; left: 0; top: 0; }
	section.visual div.slides h3.visual_title { margin-bottom: 30px; font-family: 'Abril Fatface'; font-size: 4.6875em; color: #fff; text-shadow: 2px 2px 3px #666; white-space: nowrap; }
	section.visual div.slides h3.visual_title::after { content: ""; display: block; position: absolute; width: 0.875em; height: 0.0375em; background: #fff; }
	section.visual div.slides p.visual_subtitle { font-family: 'NotoSansKR-Bold'; font-weight: bold; font-size: 1.5em; color: #fff; white-space: nowrap; text-shadow: 1px 1px rgba(0, 0, 0, 0.3); }
	section.visual div.slides p.visual_desc { display: inline-block; margin-bottom: 30px; font-family: 'NotoSansKR-Medium'; font-size: 1.25em; line-height: 1.5; white-space: nowrap; color: #fff; text-shadow: 1px 1px rgba(0, 0, 0, 0.3); }

	/* 1 */
	section.visual div.slides:nth-of-type(1) div.info_wrap { color: #fff; left: 70%; top: 55vh; transform: translate(-50%, -50%); width: 50%; text-align: right; border: 0px solid red; }
	section.visual div.slides:nth-of-type(1) h3.visual_title { position: relative; font-size: 4.6875em; font-weight: normal; line-height: 1.2; }
	section.visual div.slides:nth-of-type(1) h3.visual_title::after { content: ""; display: block; position: absolute; top: 1.9em; right: 0; width: 0.5335em; height: 0.0375em; background: #fff; }
	section.visual div.slides:nth-of-type(1) p.visual_subtitle { margin-top: 3.75em; font-family: 'NotoSansKR-Bold'; font-weight: bold; font-size: 1.5em; }
	section.visual div.slides:nth-of-type(1) p.visual_desc { position: relative; right: 0; display: inline-block; margin-top: 10px; font-family: 'NotoSansKR-Medium'; font-size: 1.25em; line-height: 1.5; text-align: right; }
	/* 1 */
	

	/* 2 */
	section.visual div.slides:nth-of-type(2) div.info_wrap { left: 37%; top: 55vh; transform: translate(-50%, -50%); width: 50%; text-align: left; }
	section.visual div.slides:nth-of-type(2) h3.visual_title { position: relative; font-size: 4.6875em; font-weight: normal; font-family: 'Abril Fatface'; line-height: 1.2; }
	section.visual div.slides:nth-of-type(2) h3.visual_title::after { content: ""; display: block; position: absolute; top: 3.125em; left: 0; width: 0.5335em; height: 0.0375em; background: #fff; }
	section.visual div.slides:nth-of-type(2) p.visual_subtitle { margin-top: 3.75em; font-family: 'NotoSansKR-Bold'; font-weight: bold; font-size: 1.5em; }
	section.visual div.slides:nth-of-type(2) p.visual_desc { position: relative; right: 0; display: inline-block; margin-top: 10px; font-family: 'NotoSansKR-Medium'; font-size: 1.25em; line-height: 1.5; text-align: left; }
	/* 2 */


	/* 3 */
	section.visual div.slides:nth-of-type(3) div.info_wrap { left: 68%; top: 75vh; transform: translate(-50%, -50%); width: 50%; text-align: right; border: 0px solid red; }
	section.visual div.slides:nth-of-type(3) h3.visual_title { font-size: 4.6875em; font-weight: normal; font-family: 'Abril Fatface'; line-height: 1.2; }
	section.visual div.slides:nth-of-type(3) h3.visual_title::after { content: ""; display: block; position: absolute; top: 3.125em; right: 0; width: 0.5335em; height: 0.0375em; background: #fff; }
	section.visual div.slides:nth-of-type(3) p.visual_subtitle { position: relative; left: 0; margin-top: 3.75em; font-family: 'NotoSansKR-Bold'; font-weight: bold; font-size: 1.5em; }
	section.visual div.slides:nth-of-type(3) p.visual_desc { position: relative; right: 0; display: inline-block; margin-top: 10px; font-family: 'NotoSansKR-Medium'; font-size: 1.25em; line-height: 1.5; text-align: right; }
	/* 3 */


	/* visual(T_end)*/



	/* membership(T_start) */

	section.member { position: relative; padding: 0 3.90623vw; width: 100%; border: 0px solid red; text-align: center; }
	section.member div.inner_wrap { width: 100%; }
	section.member ul { width: 100%; text-align: center; }
	section.member ul > li { float: left; width: calc(100% / 3); text-align: center; }

	section.member ul.member_wrap div.desc_wrap { display: inline-block; vertical-align: bottom; }
	section.member ul.member_wrap div.desc_wrap > h3 { display: inline-block; font-size: 1.375em; font-family: 'Montserrat-SemiBold'; }
	section.member ul.member_wrap div.desc_wrap > p { margin: 0.625em auto; font-size: 1.125em; font-family: 'NotoSansKR-Light'; line-height: 1.5; }
	section.member ul div.img_wrap { width: 10em; height: 10em; margin: 0 auto; }
	section.member ul div.img_wrap > img { width: 100%; height: 100%; }
	section.member ul li div.desc_wrap > span { font-size: 1.125em; font-family: 'NotoSansKR-Regular'; font-weight: bold; }
	section.member button { margin-top: 2.8125em; margin-bottom: 1em; }

	/* membership(T_end) */



	/* dessert(T_start) */



	section.dessert { position: relative; width: 100%; margin-top: 6.25em; }
	section.dessert > div.inner_wrap { margin: 0 auto; }


	section.dessert div.bread { margin-top: 8em; }
	section.dessert div.cake { margin-top: 8em; }
	section.dessert div.cookie { margin-top: 8em; }


	div.dessert div.thum_img_wrap { float: left; height: 30%; }
	div.dessert[class ~= "fl_R"] div.thum_img_wrap { float: right; height: 30%; }
	div.dessert div.thum_img_wrap img { width: 100%; height: 100%; background-size: cover; border-radius: 0.9375em; }

	div.dessert div.dessert_desc { float: left; position: relative; display: inline-block; margin-left: 20px; border: 0px solid green; }
	div.dessert[class ~= "fl_R"] div.dessert_desc { float: right; position: relative; display: inline-block; margin-right: 20px; text-align: right; }
	div.dessert div.dessert_desc h3.section02_sub_title { font-size: 1.375em; }
	div.dessert div.dessert_desc p.section02_sub_desc { margin-top: 0.875em; font-size: 1.125em; font-family: 'NotoSansKR-Regular'; line-height: 1.5; }
	div.dessert div.dessert_desc button.dessert { margin-top: 1.875em; margin-bottom: 3.5em; }
	
	div.dessert div.slide_wrap { width: 100%; }
	div.dessert[class ~= "fl_R"] div.slide_wrap { float: left; width: calc(100% - 10px); }
	div.dessert div.slide_wrap div.view_mask { overflow: hidden; width: 100%; }
	div.dessert div.slide_wrap div.view_mask > ul { display: block; position: relative; width: 150%; height: 10em; }
	div.dessert div.slide_wrap div.view_mask > ul > li { overflow: hidden; float: left; padding: 0 10px; }

	div.dessert div.slide_wrap div.dessert_pre_next { position: relative; width: calc(100% - 20px); margin: 10px 10px 0; height: 1.9em; }
	div.dessert div.slide_wrap div.dessert_pre_next button.dessert_pre { position: absolute; left: 0; }
	div.dessert div.slide_wrap div.dessert_pre_next button.dessert_next { position: absolute; right: 0; }
	


	

	div.dessert ul li div.img_wrap { width: 100%; }
	div.dessert ul li div.img_wrap img { width: 100%; height: 100%; object-fit: cover; }

	div.dessert ul li p.dessert_title { z-index: 5; display: block; position: relative; bottom: 2em; left: 0.625em; font-family: 'NotoSansKR-Regular'; font-size: 1em; color: #fff; }

	div.dessert ul li p.dessert_title::before { content: ""; z-index: -3; display: block; position: absolute; left: -0.625em; bottom: -0.4em; width: 100%; height: 2.5em; background: rgba(44, 17, 0, 0.8); }




	/* dessert(T_end) */



	/* E & N(T_start) */

	section.enn { position: relative; width: 100%; text-align: center; }
	section.enn > div.inner_wrap { overflow: hidden; }

	section.enn ul {  position: relative; margin-top: 5em; width: 400%; }
	section.enn ul li { position: relative; z-index: 20; float: left; display: inline-block; width: 7.94%; }
	section.enn ul li > div.img { display: block; width: 100%; }
	section.enn ul li > div img { display: block; width: 100%; }
	section.enn ul li p { text-align: left; }
	section.enn ul li + li { margin-left: 1.125em; }

	section.enn p.event_title { margin-top: 0.875em; font-family: 'NotoSansKR-Medium'; font-size: 1.125em; white-space: nowrap; text-overflow: ellipsis; word-break: break-all; }
	section.enn p.event_desc { margin-top: 0.125em; font-family: 'NotoSansKR-Regular'; font-size: 1em; color: #666; }

	section.enn button { margin-top: 2.8125em; margin-bottom: 1em; }

	/* E & N(T_end) */



	/* review(T_start) */


	section.review { border: 0px solid red; position: relative; margin: 5em auto 10em; width: 100%; }
	section.review div.inner_wrap { overflow: hidden; border: 0px solid blue; margin: 0 auto; width: 100%; }

	section.review div.view_mask { overflow: hidden; position: relative; }
	section.review ul { position: relative; width: 150%; }
	section.review ul li { position: relative; float: left; padding: 0 10px; }
	section.review ul li .review_wrap { position: relative; padding: 0.9375em 0.75em 1.5625em; border: 1px solid #f7d3b4; border-radius: 15px; }

	section.review ul li .review_wrap > div.f_img { display: inline-block; width: 100%; text-align: center; }
	section.review ul li .review_wrap > div.f_img > img { display: inline-block; width: 100%; height: 100%; border-radius: 5px 5px 0 0; background-size: cover; text-align: center; }
	
	section.review div.review_wrap { position: relative; }
	section.review div.review_desc_wrap > div.p_img { display: inline-block; margin-top: 0.625em; width: 1.6875em; height: 1.6875em; text-align: left; }
	section.review div.review_desc_wrap > div.p_img > img { width: 100%; height: 100%; background-size: cover; border-radius: 9999px; text-align: left; text-align: left; }

	section.review ul li div.review_desc_wrap > button { position: absolute; right: 10px; margin-top: 0.5em; display: inline-block; width: 2em; height: 2em; }
	section.review ul li div.review_desc_wrap > button:hover span.h { background: red; clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"); }
	section.review ul li div.review_desc_wrap > button span.h { position: absolute; left: 0.5em; bottom: 0.15em; display: inline-block; width: 1.5em; height: 1.5em; background: black; clip-path: path("M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"); }


	section.review ul li div.review_wrap h3 { display: inline-block; font-size: 1em; font-family: 'Montserrat-regular'; }

	section.review ul li div.review_desc_wrap p.review_desc { margin-top: 0.8em; text-align: left; font-size: 1em; font-family: 'NotoSansKR-Regular', 'Montserrat-regular'; }
	section.review ul li p.review_desc02 { margin-top: 0.2em; text-align: left; font-size: 0.875em; font-family: 'NotoSansKR-Regular', 'Montserrat-regular'; }

	section.review div.review_pre_next { position: relative; width: calc(100% - 20px); margin: 20px auto 0;  height: 1.8em; border: 0px solid black; }
	section.review div.review_pre_next button.review_pre { position: absolute; left: 0; }
	section.review div.review_pre_next button.review_next { position: absolute; right: 0; }








	/* review(T_end) */


/* ####### Tablet(end) ####### */

}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!####!!!!!!!!!!!!####!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!##!!!!!!!!!!##!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!##!!!!!!!!##!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!##!!!!!!##!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!##!!!!##!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!##!##!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!##!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

/* ####### Mobile(start) ####### */

	@media screen and (max-width: 767px) {


	/* visual(M_start)*/

	section.visual { position: relative; z-index: 1; width: 100%; height: 100vh; }

	section.visual div.slides { z-index: 20; position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; transition: transform 0.3s; }

	section.visual div.slides[class ~= "prev"] { opacity: 1; z-index: 4; transform: translateX(-100%); }
	section.visual div.slides[class ~= "cur"] { opacity: 1; z-index: 10; transform: translateX(0%); }
	section.visual div.slides[class ~= "next"] { opacity: 1; z-index: 5; transform: translateX(100%); }

	section.visual div.slides img { display: block; width: 100%; height: 100%; object-fit: cover; }
	section.visual div.slides picture { position: relative; }
	section.visual div.slides div.info_wrap { z-index: 30; color: #fff; }
	section.visual div.slides h3.visual_title { margin-bottom: 8.57%; font-family: 'Abril Fatface'; font-size: 1.875em;  text-shadow: 1px 1px rgba(0, 0, 0, 0.3); white-space: nowrap; }
	section.visual div.slides h3.visual_title::after { content: ""; display: block; width: 0.75em; height: 0.0375em; background: #fff; text-shadow: 1px 1px rgba(0, 0, 0, 0.3); }
	section.visual div.slides p.visual_subtitle { margin-bottom: 8%; font-family: 'NotoSansKR-Medium'; font-weight: normal; font-size: 1.125em; text-shadow: 1px 1px #ddd; white-space: nowrap; }
	section.visual div.slides p.visual_desc { display: none; }


	/* 1 */

	section.visual div.slides:nth-of-type(1) div.info_wrap {  position: relative; right: 15%; bottom: 58%; text-align: right; text-shadow: 1px 1px 1px #ddd; }
	section.visual div.slides:nth-of-type(1) h3.visual_title::after { transform: translate(1300%, 1000%); text-shadow: 1px 1px 1px #ddd; }

	/* 1 */


	/* 2 */

	section.visual div.slides:nth-of-type(2) div.info_wrap {  position: relative; left: 10%; bottom: 50%; text-align: left; text-shadow: 1px 1px 1px #ddd; }
	section.visual div.slides:nth-of-type(2) h3.visual_title::after { transform: translate(10%, 1000%);  }

	/* 2 */


	/* 3 */

	section.visual div.slides:nth-of-type(3) div.info_wrap { position: relative; left: 10%; bottom: 60%; text-align: left; text-shadow: 1px 1px 1px #ccc; }
	section.visual div.slides:nth-of-type(3) h3.visual_title::after { transform: translate(10%, 1000%); }

	/* 3 */

	/* visual(M_end)*/

	



	/* membership(M_start) */

	section.member { position: relative; width: 100%; border: 0px solid red; }
	section.member h2 { margin-top: 1.5em; }
	section.member div.inner_wrap { border: 0px solid blue; width: 100%; text-align: right; text-align: center; }
	section.member ul { width: 100%; margin-top: 1.5em; }
	section.member ul li { display: inline-block; width: 100%; }
	section.member ul li.discount { margin: 1em 0; }
	section.member ul li.delivery { margin-bottom: 2.5em }


	section.member ul.member_wrap div.desc_wrap { white-space: nowrap; }
	section.member ul.member_wrap div.desc_wrap > h3 { display: inline-block; font-size: 1.25em; font-family: 'Montserrat-SemiBold'; text-align: right; }
	section.member ul.member_wrap div.desc_wrap > p { margin: 0.625em auto; font-size: 1em; font-family: 'NotoSansKR-Light'; line-height: 1.5; }

	section.member ul div.img_wrap { float: left; display: inline-block; width: 40%; }
	section.member ul div.img_wrap > img { width: 100%; height: 100%; vertical-align: middle; }
	
	section.member ul li div.img_01 { margin-left: 1em; }
	section.member ul li div.img_02 { position: absolute; right: 0.5em; }

	section.member ul li div.desc_wrap { position: relative; width: calc(60% - 3em); }
	section.member ul li div.desc_wrap > span { font-size: 1.125em; font-family: 'NotoSansKR-Regular'; font-weight: bold; }

	section.member ul li div.member_desc_01 { display: inline-block; margin-right: 0.875em; margin-top: 1em; text-align: right; }
	section.member ul li div.member_desc_02 { position: relative; right: 4em; margin-top: 1em; display: inline-block; text-align: left; }


	section.member button { text-align: center; }


	/* membership(M_end) */



	/* dessert(M_start) */



	section.dessert { position: relative; width: 100%; margin-top: 6.25em; }
	section.dessert > div.inner_wrap { margin: 0 auto; }


	section.dessert div.bread { margin-top: 8em; }
	section.dessert div.cake { margin-top: 8em; }
	section.dessert div.cookie { margin-top: 8em; }


	div.dessert div.thum_img_wrap { display: none; }
	div.dessert[class ~= "fl_R"] div.thum_img_wrap { float: right; height: 30%; }
	div.dessert div.thum_img_wrap img { width: 100%; height: 100%; background-size: cover; border-radius: 0.9375em; }

	div.dessert div.dessert_desc { position: relative; display: block; margin-left: 20px; text-align: center; }
	div.dessert[class ~= "fl_R"] div.dessert_desc { position: relative; display: block; margin-right: 20px; }
	div.dessert div.dessert_desc h3.section02_sub_title { font-size: 1.375em; }
	div.dessert div.dessert_desc p.section02_sub_desc { margin-top: 0.875em; font-size: 1.125em; font-family: 'NotoSansKR-Regular'; line-height: 1.5; }
	div.dessert div.dessert_desc button.dessert { margin-top: 1.875em; margin-bottom: 3.5em; }
	
	div.dessert div.slide_wrap { width: calc(100% - 10px); }
	div.dessert[class ~= "fl_R"] div.slide_wrap { width: calc(100% - 10px); }
	div.dessert div.slide_wrap div.view_mask { overflow: hidden; width: 100%; text-align: center; }
	div.dessert div.slide_wrap div.view_mask > ul { display: block; position: relative; width: 100%; height: 10em; }
	div.dessert div.slide_wrap div.view_mask > ul > li { overflow: hidden; float: left; padding: 0 10px; }

	div.dessert div.slide_wrap div.dessert_pre_next { position: relative; width: 96%; margin: 10px 10px 0; height: 1.9em; }
	div.dessert div.slide_wrap div.dessert_pre_next button.dessert_pre { position: absolute; left: 0; }
	div.dessert div.slide_wrap div.dessert_pre_next button.dessert_next { position: absolute; right: 0; }
	


	

	div.dessert ul li div.img_wrap { width: 100%; }
	div.dessert ul li div.img_wrap img { width: 100%; height: 100%; object-fit: cover; }

	div.dessert ul li p.dessert_title { z-index: 5; position: relative; bottom: 1.6em; left: 0.625em; font-family: 'NotoSansKR-Regular'; font-size: 1em; color: #fff; text-align: left; }
	div.dessert ul li p.dessert_title::before  { content: ""; z-index: -3; display: block; position: absolute; left: -0.625em; bottom: -0.28em; width: 100%; height: 2em; background: rgba(44, 17, 0, 0.8); }








	/* dessert(M_end) */



	/* E & N(M_start) */

	section.enn { position: relative; margin-top: 4.375em; width: 100%; text-align: center; }
	section.enn > div.inner_wrap { overflow: hidden; border: 0px solid blue; }

	section.enn ul {  position: relative; border: 0px solid blue; margin-top: 4em; width: 400%; }
	section.enn ul li { position: relative; z-index: 20; float: left; display: inline-block; width: 12%; }
	section.enn ul li > div.img { display: block; width: 100%; }
	section.enn ul li > div img { display: block; width: 100%; }
	section.enn ul li p { text-align: left; }
	section.enn ul li:nth-of-type(1) { display: none; }
	section.enn ul li:nth-of-type(2) { margin-right: 1.125em; }

	section.enn p.event_title { overflow: hidden; position: relative; margin-top: 0.875em; font-family: 'NotoSansKR-Medium'; font-size: 0.9375em; white-space: nowrap; text-overflow: ellipsis; }
	section.enn p.event_desc { overflow:hidden; margin-top: 0.125em; font-family: 'NotoSansKR-Regular'; white-space:nowrap; font-size: 0.75em; color: #666; }

	section.enn button { margin-top: 1.125em; }

	/* E & N(M_end) */



	/* review(M_start) */


	section.review { position: relative; margin: 5em auto 10em; width: 100%; }
	section.review div.inner_wrap { overflow: hidden; margin: 0 auto; width: 100%; }

	section.review div.view_mask { overflow: hidden; position: relative; margin-top: 50px; }
	section.review ul { position: relative; width: 110%; }
	section.review ul li { position: relative; float: left; width: 1; padding: 0 10px; }
	section.review ul li .review_wrap { position: relative; padding: 0.9375em 0.75em 1.5625em; border: 1px solid #f7d3b4; border-radius: 15px; }

	section.review ul li .review_wrap > div.f_img { display: inline-block; width: 100%; text-align: center; }
	section.review ul li .review_wrap > div.f_img > img { display: inline-block; width: 100%; height: 100%; border-radius: 5px 5px 0 0; background-size: cover; text-align: center; }
	
	section.review div.review_wrap { position: relative; }
	section.review div.review_desc_wrap > div.p_img { display: inline-block; margin-top: 0.625em; width: 1.6875em; height: 1.6875em; text-align: left; }
	section.review div.review_desc_wrap > div.p_img > img { width: 100%; height: 100%; background-size: cover; border-radius: 9999px; text-align: left; text-align: left; }

	section.review ul li div.review_desc_wrap > button { position: absolute; right: 12px; margin-top: 0.5em; display: inline-block; width: 2em; height: 2em; }
	section.review ul li div.review_desc_wrap > button:hover span.h { background: red; clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"); }
	section.review ul li div.review_desc_wrap > button span.h { position: absolute; left: 0.5em; bottom: 0.15em; display: inline-block; width: 1.5em; height: 1.5em; background: black; clip-path: path("M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"); }


	section.review ul li div.review_wrap h3 { display: inline-block; font-size: 1em; font-family: 'Montserrat-regular'; }

	section.review ul li div.review_desc_wrap p.review_desc { margin-top: 0.8em; text-align: left; font-size: 1em; font-family: 'NotoSansKR-Regular', 'Montserrat-regular'; }
	section.review ul li p.review_desc02 { margin-top: 0.2em; text-align: left; font-size: 0.875em; font-family: 'NotoSansKR-Regular', 'Montserrat-regular'; }

	section.review div.review_pre_next { position: relative; width: calc(100% - 20px); margin: 20px auto 0;  height: 1.8em; border: 0px solid black; }
	section.review div.review_pre_next button.review_pre { position: absolute; left: 0; }
	section.review div.review_pre_next button.review_next { position: absolute; right: 0; }






	/* review(M_end) */


}
/* ####### Mobile(end) ####### */